.App {
    background-color: #0d0d0d;
    background-image: url(../images/Spotify_Logo_RGB_Green.png);
    background-size: 220px;
    background-repeat: repeat;

    .Content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
}