.App {
    display: flex;
    height: 100vh;
    flex-direction: column;
    text-align: center;

    .Header {
        flex: 0 1 auto;
        background-color: black;
        color: white;

        .Title {
            display: inline-block;
        }

        .RewindIcon {
            vertical-align: sub;
            padding: 0 10px;
        }
    }

    .Content {
        // background-image: linear-gradient(#04619F, #15181f);
        // color: white;
        flex: 1 1 auto;
        margin: 0 auto;
        height: 100%;
    }
}