.LoginScreen {
    position: relative;
    display: flex;
    color: white;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(#DA4453, #89216B);

    .Header {
        position: absolute;
        right: 0;
        text-align: right;
        margin-right: 20px;
        
        .RewindText {
            display: inline-block;
            padding-right: 5px;
        }

        .RewindIcon {
            vertical-align: sub;
        }
    }

    .Header1 {
        clip-path: inset(0px 0px 33px 0px);
    }

    .Header2 {
        transform: translate(-2px);
        clip-path: inset(35px 0px 28px 0px);
    }

    .Header3 {
        transform: translate(-3px);
        clip-path: inset(39px 0px 0px 0px);
    }

    .Content {
        padding: 20vh 15px 0px 15px;
        flex: 0 1 auto;

        h1, h3 {
            margin-top: 0;
        }

        h1 {
            margin-bottom: 15px;
        }

        .ContentInfo {
            padding-top: 10vh;
            small {
                display: block;
            }
        }
    }

    .ButtonContainer {
        flex: 1 1 auto;
        margin: 0 auto;
        height: 100%;
    
        button.LoginButton {
            font-size: 1.2em;
            width: 175px;
            border-radius: 25px;
            background-color: rgb(27, 168, 76);
            color: white;
            font-weight: 700;
            
            margin-top: 20vh;
        }
    }
}