.TopArtists {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    .ArtistNames {
        display: inline-block;
        .ArtistName {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .ArtistImages {
        display: inline-block;
        text-align: right;
    }
}