.Song {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding-bottom: 5px;

    .SongInfo {
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .SongName {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .SongArtist {
            color: grey;
            font-size: 0.9em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}