#ShareBox {
    text-align: left;
    .Title {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }

    // .ShareBoxHeader {
    //     text-align: center;
    
    //     h2 {
    //         display: inline-block;
    //     }
    //     .SpotifyLogo {
    //         vertical-align: sub;
    //     }
    // }

    h3 {
        text-transform: uppercase;
    }
}