#ShareBox-short_term {
    background-image: linear-gradient(#ef32d9, #89FFFD);
}
#ShareBox-medium_term {
    background-image: linear-gradient( #30e8bf, #E9ABC2, #EB307D);
}


.ShareBox {
    text-align: center;
    // text-shadow: 2px 2px 0px black;

    .Title {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }

    .TopTracksInfo {
        text-align: left;

        h3 {
            text-transform: uppercase
        }

        .MoodGraphHeader {
            margin-bottom: 0;
        }

        .MoodGraphTitle {
            display: block;
            margin-bottom: 15px;
        }
    }
}