.ShareBox {
    text-align: center;

    .Title {
        display: inline-block;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
    }

    .TopTracksInfo {
        text-align: left;

        h3 {
            text-transform: uppercase
        }

        .MoodGraphHeader {
            margin-bottom: 0;
        }

        .MoodGraphTitle {
            display: block;
            margin-bottom: 15px;
        }
    }
}