.UserScreen {
    text-align: center;
    position: relative;
    height: 100%;
    overflow: hidden;

    .HelpIcon {
        z-index: 2;
        position: absolute;
    }

    .TopTrackBoxesContainer {
        display: flex;
        height: 100%;
    }

    .LogoutButton {
        margin: 20px 0px;
    }

    .UserScreenButtons {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        color: white;

        .ShareIcon {
            margin: 0 30px;
        }
    
        .RewindTimeRangeIcon, .ForwardTimeRangeIcon, .ShareIcon {
            display: inline-block;
            z-index: 2;
            width: 85px;
            padding-top: 5px;

            .IconButton {
                width: 100%;
                border-radius: 10px;
                box-shadow: 
                    0px 3px 1px -2px rgba(0,0,0,0.4), 
                    0px 2px 2px 0px rgba(0,0,0,0.28), 
                    0px 1px 5px 0px rgba(0,0,0,0.24);
                padding: 5px 0;
            }
            
            .IconLabel {
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    outline: 0;
    background-color: rgba(96,96,96,0.9);
    border-radius: 8px;

    &.ShareModal {
        text-align: center;

        .DirectionsText {
            font-style: italic;
            color: gold;
        }
    }
}